@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  outline: none;
}

/* Utilities */
.space-font {
  font-family: "Space Grotesk", sans-serif;
}

/* Navbar */
.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  background-color: #f9fafb;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.nav-link:hover::before {
  width: 100%;
}

/* Slider */
.slider {
  height: calc(100vh - 5rem);
  width: 500vw;
  display: flex;
  transition: 1s ease;
}

/* Slide */
.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
}

.slide-cta-btn::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f97316;
  width: 0%;
  transition: 0.3s ease;
}

.slide-cta-btn:hover::before {
  width: 100%;
}
