@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  background-color: #f9fafb;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.nav-link:hover::before {
  width: 100%;
}
